@use '../../styles/colors.scss' as *;

.filterSection {
  background-color: $white;
  min-height: 15rem;
  border-radius: 6px;

  .header {
    border-bottom: 0.6px solid $darkWhite;
    padding: 0.5rem;

    h1 {
      font-size: 20px;
      margin-top: 0.6rem;
    }
  }

  .content {
    .filterContainer {
      height: 200px;

      .filterTitle {
        position: sticky;
        top: 0;
        background-color: $white;
        padding-top: 10px;
        margin: 0;
        z-index: 1;
        padding-left: 10px;
        padding-bottom: 6px;
      }

      .filterContent {
        height: calc(100% - 40px);
        overflow-y: auto;
        padding: 10px;
      }
    }

    .filterSourceContent {
      padding: 10px;
    }

    .filterDateContent {
      padding: 10px;

      .filterDateHeader {
        display: flex;
        justify-content: space-between;

        p {
          font-size: 0.8rem;
          color: $dark;
          cursor: pointer;
        }
      }

      .filterDateSection {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
